body{
    margin-top: 3em;
}
.container{
    text-align: center;
}

.main{
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

button{
    padding-top: 50px;
}

#timer{
    text-align: right;
    font-size: 20px;
}
input{

    margin: 10px;
    height: 35px;
    padding-bottom: 5px;
}

button{
    margin: 5px;
}
#score{
    font-weight: bolder;
}

.container{
    width: 70%;
}

#choose, #question{
    text-align: left;
}

#timer{
    text-align: center;
    font-weight: bolder;
}